api = "0.8"

[buildpack]
  id = "paketo-buildpacks/vsdbg"
  name = "Paketo Buildpack for Visual Studio Debugger"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/vsdbg/blob/main/LICENSE"

[metadata]
  include-files = [
    "buildpack.toml",
    "linux/amd64/bin/build",
    "linux/amd64/bin/detect",
    "linux/amd64/bin/run"
  ]
  pre-package = "./scripts/build.sh --target linux/amd64"

  [[metadata.dependencies]]
    checksum = "sha256:859c7da25e8dffecff3e72458f1367c0e2d2f8530067fb0ae44ea2c4b0021feb"
    cpe = "cpe:2.3:a:microsoft:vsdbg:17.13.20213.2:*:*:*:*:*:*:*"
    id = "vsdbg"
    name = "Visual Studio Debugger"
    purl = "pkg:generic/vsdbg@17.13.20213.2?checksum=859c7da25e8dffecff3e72458f1367c0e2d2f8530067fb0ae44ea2c4b0021feb&download_url=https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-17-13-20213-2/vsdbg-linux-x64.tar.gz"
    source = "https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-17-13-20213-2/vsdbg-linux-x64.tar.gz"
    source-checksum = "sha256:859c7da25e8dffecff3e72458f1367c0e2d2f8530067fb0ae44ea2c4b0021feb"
    stacks = ["*"]
    uri = "https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-17-13-20213-2/vsdbg-linux-x64.tar.gz"
    version = "17.13.20213+2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "vsdbg"
    patches = 1

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"
