api = "0.8"

[buildpack]
  id = "paketo-buildpacks/vsdbg"
  name = "Paketo Buildpack for Visual Studio Debugger"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/vsdbg/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    checksum = "sha256:4f81b07f4d1d9ed988eae1d354b257f83030689c0e00d2ad61721becdd94246a"
    cpe = "cpe:2.3:a:microsoft:vsdbg:18.0.10821.2:*:*:*:*:*:*:*"
    id = "vsdbg"
    name = "Visual Studio Debugger"
    purl = "pkg:generic/vsdbg@18.0.10821.2?checksum=4f81b07f4d1d9ed988eae1d354b257f83030689c0e00d2ad61721becdd94246a&download_url=https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-18-0-10821-2/vsdbg-linux-x64.tar.gz"
    source = "https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-18-0-10821-2/vsdbg-linux-x64.tar.gz"
    source-checksum = "sha256:4f81b07f4d1d9ed988eae1d354b257f83030689c0e00d2ad61721becdd94246a"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    uri = "https://vsdebugger-cyg0dxb6czfafzaz.b01.azurefd.net/vsdbg-18-0-10821-2/vsdbg-linux-x64.tar.gz"
    version = "18.0.10821+2"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "vsdbg"
    patches = 1

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
